<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Page2</title>
  <link rel="stylesheet" href="page-2.css" />
</head>

<body>
  <div class="ur-page2-container">
    <div class="ur-page2-checking-checkbox">
      <div class="ur-page2-checkbox-container">


        <div class="page-2-left-container">

          <div class="page-2-left-top-container">
            <div class="ur-page2-checkbox-group-1 on-observation">
              <h2 class="ur-page2-checkbox-title">On Observation</h2>
              <div class="ur-page2-checkbox-wrapper-46">
                <input type="checkbox" id="dm" class="ur-page2-inp-cbx" />
                <label for="dm" class="ur-page2-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>

                  <span>&nbsp;Skin Color</span>
                </label>
              </div>
              <div class="ur-page2-checkbox-wrapper-46">
                <input type="checkbox" id="
                    htn" class="ur-page2-inp-cbx" />
                <label for="
                    htn" class="ur-page2-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>

                  <span>&nbsp;Deformaty</span>
                </label>
              </div>
              <div class="ur-page2-checkbox-wrapper-46">
                <input type="checkbox" id="
                    cad" class="ur-page2-inp-cbx" />
                <label for="
                    cad" class="ur-page2-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>

                  <span>&nbsp;Redness</span>
                </label>
              </div>
              <div class="ur-page2-checkbox-wrapper-46">
                <input type="checkbox" id="cvd" class="inp-cbx" />
                <label for="cvd" class="ur-page2-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>

                  <span>&nbsp;Shiny Skin</span>
                </label>
              </div>

              <div class="ur-page2-checkbox-wrapper-46">
                <input type="checkbox" id="asthma" class="ur-page2-inp-cbx" />
                <label for="asthma" class="ur-page2-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>

                  <span>&nbsp;Open Wounds</span>
                </label>
              </div>
            </div>
            <div class="ur-page2-checkbox-group-1 on-palpation">
              <h2 class="ur-page2-checkbox-title">On Palpation</h2>

              <div class="ur-page2-col">
                <div class="ur-page2-checkbox-wrapper-46">
                  <input type="checkbox" id="Neck" class="ur-page2-inp-cbx" />
                  <label for="Neck" class="ur-page2-cbx">
                    <span>
                      <svg viewBox="0 0 12 10" height="10px" width="12px">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                      </svg>
                    </span>

                    <span>&nbsp;Tenderness</span>
                  </label>
                </div>
                <div class="ur-page2-checkbox-wrapper-46">
                  <input type="checkbox" id="
                  Wrist" class="ur-page2-inp-cbx" />
                  <label for="
                  Wrist" class="ur-page2-cbx">
                    <span>
                      <svg viewBox="0 0 12 10" height="10px" width="12px">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                      </svg>
                    </span>

                    <span>&nbsp;Warmth</span>
                  </label>
                </div>
                <div class="ur-page2-checkbox-wrapper-46">
                  <input type="checkbox" id="
                  LowerBack" class="ur-page2-inp-cbx" />
                  <label for="
                  LowerBack" class="ur-page2-cbx">
                    <span>
                      <svg viewBox="0 0 12 10" height="10px" width="12px">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                      </svg>
                    </span>

                    <span>&nbsp;Swelling</span>
                  </label>
                </div>
                <div class="ur-page2-checkbox-wrapper-46">
                  <input type="checkbox" id="Ankle" class="ur-page2-inp-cbx" />
                  <label for="Ankle" class="ur-page2-cbx">
                    <span>
                      <svg viewBox="0 0 12 10" height="10px" width="12px">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                      </svg>
                    </span>

                    <span>&nbsp;Odema</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        <div class="ur-page2-checkbox-group balance">
          <h2 class="ur-page2-checkbox-title">Balance</h2>
          <div class="ur-page2-col">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Normal</th>
                  <th>Abnormal</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>SITTING</td>
                  <td><input type="radio" id="sitting1" name="sitting" class="ur-page2-inp-cbx" /></td>
                  <td><input type="radio" id="sitting2" name="sitting" class="ur-page2-inp-cbx" /></td>
                  <td><input type="text" placeholder="Enter remarks" class="remark-input"></td>
                </tr>
                <tr>
                  <td>STANDING</td>
                  <td><input type="radio" id="standing1" name="standing" class="ur-page2-inp-cbx" /></td>
                  <td><input type="radio" id="standing2" name="standing" class="ur-page2-inp-cbx" /></td>
                  <td><input type="text" placeholder="Enter remarks" class="remark-input"></td>
                </tr>
                <tr>
                  <td>POSTURE</td>
                  <td><input type="radio" id="posture1" name="posture" class="ur-page2-inp-cbx" /></td>
                  <td><input type="radio" id="posture2" name="posture" class="ur-page2-inp-cbx" /></td>
                  <td><input type="text" placeholder="Enter remarks" class="remark-input"></td>
                </tr>
                <tr>
                  <td>GAIT</td>
                  <td><input type="radio" id="gait1" name="gait" class="ur-page2-inp-cbx" /></td>
                  <td><input type="radio" id="gait2" name="gait" class="ur-page2-inp-cbx" /></td>
                  <td><input type="text" placeholder="Enter remarks" class="remark-input"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>


        <div class="ur-page2-checkbox-group motion-of-range">
          <h2 class="ur-page2-checkbox-title">Range of Motion</h2>
          <div class="ur-page2-col">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th colspan="2">CERVICAL</th>
                  <th colspan="2">SHOULDER</th>
                  <th colspan="2">ELBOW</th>
                  <th colspan="2">WRIST</th>
                  <th colspan="2">HIP</th>
                  <th colspan="2">Header 7</th>
                  <th colspan="2">Header 7</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>RT</td>
                  <td>LT</td>
                  <td>RT</td>
                  <td>LT</td>
                  <td>RT</td>
                  <td>LT</td>
                  <td>RT</td>
                  <td>LT</td>
                  <td>RT</td>
                  <td>LT</td>
                  <td>RT</td>
                  <td>LT</td>
                  <td>RT</td>
                  <td>LT</td>
                </tr>
                <tr>
                  <td>FLEXION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <tr>
                  <td>EXTENSION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <tr>
                  <td>ABDUCTION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <tr>
                  <td>ADDUCTION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <tr>
                  <td>EVERSION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <tr>
                  <td>INVERSION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <tr>
                  <td>EXTERNALROTATION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <tr>
                  <td>INTERNALROTATION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <tr>
                  <td>DORSIFLEXION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <tr>
                  <td>PLANTARFLEXION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <tr>
                  <td>SUPINATION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <tr>
                  <td>PRONATION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <tr>
                  <td>LATERALROTATION</td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                  <td><input type="text" placeholder="0" class="ur-rom-custom-input" /></td>
                </tr>
                <!-- Repeat the above structure for other rows as needed -->
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>