<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spc</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
<header>
    <a href="#" class="brand">SPC</a>
    <div class="menu-btn">
        <div class="navigation">
            <div class="navigation-items">
                <div class="dropdown">
                    <a href="#" class="nav-link">Home</a>
                   
                </div>
                <div class="dropdown">
                    <a href="#" class="nav-link">Action</a>
                    <div class="dropdown-content">
                        <a href="#">Create Record</a>
                        <a href="#">Update Record</a>

                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="nav-link">Billing</a>
                    <div class="dropdown-content">
                        <a href="#">In Patient Billing</a>
                        <a href="#">Out Patient Billing</a>

                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="nav-link">Records</a>
                    
                </div>
                
            </div>
        </div>
    </div>
</header>

<section class="home">
    <span class="curve"></span>
    <img decoding="async" class="img-slide slide0 active" src="air.png" >
    <img decoding="async" class="img-slide slide1 " src="airpods.jpg">
    <img decoding="async" class="img-slide slide2" src="./iphone15.jpg" >
    <img decoding="async" class="img-slide slide3" src="./iwatch.webp" >
    <img decoding="async" class="img-slide slide4" src="./home.jpg">
    <div class="content active">
        <h1><span>Saai <br>  Physiotherapy <br> Clinic</span></h1>
        <p><span></span></p>
        <span class="Read-more"><a href="#">Read More</a></span>
    </div>
    <div class="content">
        <h1><span>Create Record</span></h1>
        <p><span>Creating patients record using their basic details...</span></p>
        <span class="Read-more"><a href="#">Read More</a></span>
    </div>
    <div class="content">
        <h1><span>Update Record</span></h1>
        <p><span>Updating the existing Record with their additional complaints...</span> </p>
        <span class="Read-more"><a href="#">Read More</a></span>
    </div>
    <div class="content">
        <h1><span>In Patient Billing
        </span></h1>
        <p><span>Creating the bill for In-Patients...</span></p>
        <span class="Read-more"><a href="#">Read More</a></span>
    </div>
    <div class="content">
        <h1><span>Out Patient Billing
        </span></h1>
        <p><span>Creating the bill for Out-Patients...</span>
        </p>
        <span class="Read-more"><a href="#">Read More</a></span>
    </div>
    <div class="content">
        <h1><span>Patient Info
        </span></h1>
        <p><span>Searching for all the patients records...</span>
            


        </p>
        <span class="Read-more"><a href="#">Read More</a></span>
    </div>
    
    <div class="slider-navigation" style="display: none;"> 
        <div class="nav-btn active"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
    </div>
</section></section> <script src="main.js" defer data-deferred="1"></script> </body>

</html>


        
