@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 6%;
    transition: 0.5s ease;
}

header .brand{
   color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .brand:hover{
    color: #000;
}

header .navigation{
    position: relative;
    
}
.navigation-items{
    display: flex;
}
header .navigation .navigation-items .nav-link{
    position: relative;
  color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items .nav-link:before{
    content: '';
    position: absolute;
    background-color: #000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items .nav-link:hover:before{
    width: 100%;
   background-color: #000;
}

section{
    padding: 100px 150px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.home:before{
    z-index: 0;
    content: '';
    position: absolute;
    background: rgb(201, 201, 201);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 4;
    width: 70%;
   
    display: none;
}

.home .content.active{
    display: block;
}

.home .content h1{
    width: fit-content;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 5px;
    background-color: transparent;
    overflow: hidden;
}


.content.active h1 span{
    animation: anime 1.5s ease-in-out;
}
.content p {
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    overflow: hidden;
}
.content.active p span{
    
    animation: para-ani 1.5s ease-in-out;
}

@keyframes slideInRight {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

.content>.Read-more {
    display: none;
    animation: slideInRight 1.5s forwards;
}

.content.active>.Read-more{
    display: block;
}

@keyframes anime{
    from{
        display: inline-block;
        transform: translateX(-200%);
    }
    to{
        
        display: inline-block;
        transform: translateX(0%);
    }
}
@keyframes para-ani{
    from{
        display: inline-block;
        transform: translateX(200%);
    }
    to{
        
        display: inline-block;
        transform: translateX(0%);
    }
}
.home .content p{
    margin-bottom: 20px;
}

.home .content a{
    max-width: fit-content;
    background-color: #000;
    padding: 15px 35px;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .content a:hover{
    background: #000;
    color: #fff;
}

.home .media-icons{
    z-index: 5;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease; 
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
    color: #000;
}

.home img{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1 ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.curve{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    clip-path: circle(50% at 8% 53%);
    background-color: #dbfaff;
    z-index: 3;
    opacity: 90%;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
    background: #000;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}


.home .img-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    /* Initial clip path */
    transition: clip-path 3s ease; /* Transition for clip path */
}
.slide0{
    clip-path: circle(0% at 0% 50%);
    transition-delay: 4s;
}
.slide1{
    clip-path: circle(0% at 100% 50%);
    transition-delay: 4s;
    
}
.slide2{
    clip-path: circle(0% at 0% 50%);
    transition-delay: 4s;
}
.slide3{
    clip-path: circle(0% at 100% 50%);
    transition-delay: 4s;
}
.slide4{
    clip-path: circle(0% at 0% 50%);
    transition-delay: 4s;
}


.slide0.active{
    clip-path: circle(150% at 0% 50%);
    
}

.slide1.active {
    clip-path: circle(150% at 100% 50%);
     /* Revealing from top right */
}

.slide2.active {
    clip-path: circle(150% at 0% 50%);
    /* Revealing from bottom left */
}

.slide3.active {
    clip-path: circle(150% at 100% 50%);
     /* Revealing from bottom right */
}

.slide4.active {
    clip-path: circle(150% at 0% 50%);
     /* Revealing from center */
}


@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }
    .home .media-icons{
        right: 15px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a{
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before{
        background: #222;
        height: 5px;
    }

    header .navigation .navigation-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn{
        background: url(menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    .menu-btn.active{
        z-index: 999;
        background: url(close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}

    @media (max-width: 560px){
    .home .content h1{
        font-size: 3em;
        line-height: 60px;
    }
}




.navigation {
    position: relative;
    
}

.navigation .dropdown-content {
   
    margin-top: 3%;
    display: none;
    position: absolute;
    top: 100%;
    width: fit-content;
    z-index: 10099;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navigation .dropdown-content.active {
    width: fit-content;
    display: block;
}

.navigation .dropdown-content a {
    text-wrap:nowrap;
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;

}

.navigation .dropdown-content a:hover {
    background-color: #000;
    color: white;
}
