<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/flower.css">

</head>
<body>
    
<button class="flower-btn">
    <div class="flower-wrapper">
  
      <div class="flower flower1">
        <div class="petal one"></div>
        <div class="petal two"></div>
        <div class="petal three"></div>
        <div class="petal four"></div>
      </div>
      <div class="flower flower2">
        <div class="petal one"></div>
        <div class="petal two"></div>
        <div class="petal three"></div>
        <div class="petal four"></div>
      </div>
      <div class="flower flower3">
        <div class="petal one"></div>
        <div class="petal two"></div>
        <div class="petal three"></div>
        <div class="petal four"></div>
      </div>
      <div class="flower flower4">
        <div class="petal one"></div>
        <div class="petal two"></div>
        <div class="petal three"></div>
        <div class="petal four"></div>
      </div>
      <div class="flower flower5">
        <div class="petal one"></div>
        <div class="petal two"></div>
        <div class="petal three"></div>
        <div class="petal four"></div>
      </div>
      <div class="flower flower6">
        <div class="petal one"></div>
        <div class="petal two"></div>
        <div class="petal three"></div>
        <div class="petal four"></div>
      </div>
    </div>
  </button>
</body>
</html>

