<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/login-page.css">
    <title>Login Form</title>
    <script src="BVAmbient.js"></script>

</head>

<body>

    <!-- Ambient Main Div -->
    <div id="ambient" style="overflow:hidden; position:absolute; width:100%; height:100vh;"></div>
    <div class="user-login-signup-container">
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form class="form">
                    <h1>Log in</h1>
                    <div class="form-control">
                        <input class="input-field" type="email" required />
                        <label>
                            <span style="transition-delay: 0ms;">E</span>
                            <span style="transition-delay: 50ms;">m</span>
                            <span style="transition-delay: 100ms;">a</span>
                            <span style="transition-delay: 150ms;">i</span>
                            <span style="transition-delay: 200ms;">l</span>
                        </label>
                    </div>
                    <div class="form-control">
                        <input class="input-field" type="password" required />
                        <label>
                            <span style="transition-delay: 0ms;">P</span>
                            <span style="transition-delay: 50ms;">a</span>
                            <span style="transition-delay: 100ms;">s</span>
                            <span style="transition-delay: 150ms;">s</span>
                            <span style="transition-delay: 200ms;">w</span>
                            <span style="transition-delay: 250ms;">o</span>
                            <span style="transition-delay: 300ms;">r</span>
                            <span style="transition-delay: 350ms;">d</span>
                        </label>
                    </div>
                    <button class="action-button">Sign in</button>
                </form>
            </div>
            <div class="right-container">
                <div class="right-container-content">
                    <div class="right-container-content-panel right-container-content-right">
                        <h1>Hello, Admin!</h1>
                        <p>Enter your personal details and start the journey with us</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>