<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Page3</title>
  <link rel="stylesheet" href="ur-page5.css" />
</head>

<body>
  <div class="ur-page5-container">
    <div class="ur-page5-left-container">
      <div class="rate-of-pe-table">
        <h2 class="ur-page5-left-container-tb1-title">Rate of Perceived Exertion</h2>
        <table>
          <thead>
            <tr>
              <th>Point</th>
              <th>Effort</th>
              <th>Description</th>
              <th>% of Max HR</th>
              <th>Point Got</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>6</td>
              <td>No Exertion</td>
              <td>Little to no movement, very relaxed</td>
              <td>20%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td>Extremely Light</td>
              <td>Able to maintain pace</td>
              <td>30%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>8</td>
              <td></td>
              <td></td>
              </td>
              <td>40%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>9</td>
              <td>Very Light</td>
              <td>Comfortable and breathing harder</td>
              <td>50%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>10</td>
              <td></td>
              <td></td>
              <td>55%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>11</td>
              <td>Light</td>
              <td>Minimal sweating, can talk easily</td>
              <td>60%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>12</td>
              <td></td>
              <td></td>
              <td>65%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>13</td>
              <td>Somewhat Hard</td>
              <td>Slight breathlessness, can talk</td>
              <td>70%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>14</td>
              <td></td>
              <td>Increased sweating, still able to hold conversation but with difficulty</td>
              <td>75%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>15</td>
              <td>Hard</td>
              <td>Sweating, able to push and still maintain proper form</td>
              <td>80%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>16</td>
              <td></td>
              <td></td>
              <td>85%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>17</td>
              <td>Very Hard</td>
              <td>Can keep a fast pace for a short</td>
              <td>90%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="ur-page5-right-container">
      <div class="brpe-table">
        <h2 class="ur-page5-right-container-tb1-title">Bord Rate of Perceived Exertion(BRPE)</h2>
        <table>
          <thead>
            <tr>
              <th>Rating</th>
              <th>Description</th>
              <th>Effort%</th>
              <th>Rating Got</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>6</td>
              <td>Very, Very Light (REST)</td>
              <td>20%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td>Extremely Light</td>
              <td>30%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>8</td>
              <td></td>
              <td>40%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>9</td>
              <td>Very Light, Gentle Walk</td>
              <td>50%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>10</td>
              <td></td>
              <td>55%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>11</td>
              <td>Fairly Light</td>
              <td>60%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>12</td>
              <td></td>
              <td>65%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>13</td>
              <td>Moderately Hard, Steady Pace</td>
              <td>70%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>14</td>
              <td></td>
              <td>75%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>15</td>
              <td>Hard</td>
              <td>80%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>16</td>
              <td></td>
              <td>85%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>17</td>
              <td>Very Hard</td>
              <td>90%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>18</td>
              <td></td>
              <td>95%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>19</td>
              <td>Very, Very Hard</td>
              <td>100%</td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
            <tr>
              <td>20</td>
              <td>EXHAUSTION</td>
              <td></td>
              <td>
                <input type="radio" id="rpe1" name="rpe" class="ur-page2-inp-cbx" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button class="ur-page5-next-btn">
    Continue
    <img src="./r-arrow.png" alt="" />
  </button>
</body>

</html>