<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page3</title>
  <link rel="stylesheet" href="ur-page4.css">
</head>
<body>
  <div class="page-4-container">
   
    <div class="page-4-content">
      <div class="page-4-form-top">
        <div class="co-ordination-table">
         
          <table class="content-table">
            <h2>Co-Ordination</h2>
            <thead class="content-head">
              <tr>
                <th></th>
                <th>Nor</th>
                <th>AbNor</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Body built</td>
                <td>
                  <input
                    type="radio"
                    id="sitting1"
                    name="sitting"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="sitting2"
                    name="sitting"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>Hands and Fingertips</td>
                <td>
                  <input
                    type="radio"
                    id="standing1"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="standing2"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>Eyes</td>
                <td>
                  <input
                    type="radio"
                    id="posture1"
                    name="posture"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="posture2"
                    name="posture"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>Cyanosis</td>
                <td>
                  <input
                    type="radio"
                    id="gait1"
                    name="gait2"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="gait1"
                    name="gait2"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>Jugular venous pressure</td>
                <td>
                  <input
                    type="radio"
                    id="gait1"
                    name="gait"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="gait2"
                    name="gait"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
            
            </tbody>
          </table>
        </div>
        <div class="Breathing-Pattern-table">
          
          <table class="content-table">
            <h2>Observation of Chest</h2>
            <thead class="content-head">
              <tr>
                <th></th>
                <th>Nor</th>
                <th>AbNor</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Breathing Pattern</td>
                <td>
                  <input
                    type="radio"
                    id="sitting1"
                    name="sitting"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="sitting2"
                    name="sitting"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>Chest Movement</td>
                <td>
                  <input
                    type="radio"
                    id="standing1"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="standing2"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>Palpation of chest</td>
                <td>
                  <input
                    type="radio"
                    id="standing1"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="standing2"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>Chest Expansion</td>
                <td>
                  <input
                    type="radio"
                    id="standing1"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="standing2"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="Prehension-table">
         
          <table class="content-table">
            <h2>Prehension</h2>
            <thead class="content-head">
              <tr>
                <th></th>
                <th>Nor</th>
                <th>AbNor</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>TIP TO TIP</td>
                <td>
                  <input
                    type="radio"
                    id="sitting1"
                    name="sitting"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="sitting2"
                    name="sitting"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>PAD TO PAD</td>
                <td>
                  <input
                    type="radio"
                    id="standing1"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="standing2"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>TIP TO PAD</td>
                <td>
                  <input
                    type="radio"
                    id="standing1"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="standing2"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
      <div class="page-4-form-bottom">
        <div class="section-hand-function">
            
          <table class="content-table">
            <h2>Hand Function</h2>
            <thead class="content-head">
              
              <tr>
                <th></th>
                <th>Nor</th>
                <th>AbNor</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GRIP</td>
                <td>
                  <input
                    type="radio"
                    id="sitting1"
                    name="sitting"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="sitting2"
                    name="sitting"
                    class="radio-input"
                  />
                </td>
                <td class="remark" >
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>GRASP</td>
                <td>
                  <input
                    type="radio"
                    id="standing1"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="standing2"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>RELEASE</td>
                <td>
                  <input
                    type="radio"
                    id="standing1"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="standing2"
                    name="standing"
                    class="radio-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <div class="section-subjective-Assessment">
            
          <table class="content-table">
            <h2>Subjective Assessment</h2>
            <thead class="content-head">
              
              <tr>
                <th></th>
                <th>Duration</th>
                <th>Severity</th>
                <th>Pattern</th>
                <th>Associated Factor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>breathlessness</td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td> 
                <td class="remark">
                  <select id="saverity" name="saverity">
                    <option value="" selected disabled></option>
                    <option value="Severity">Severity</option>
                    <option value="Critical">Critical</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
                <td class="remark">
                  <input 
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>Cough</td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
                <td class="remark">
                  <select id="saverity" name="saverity">
                    <option value="" selected disabled></option>
                    <option value="Severity">Severity</option>
                    <option value="Critical">Critical</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>SputumHemoptysis</td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
                <td class="remark">
                  <select id="saverity" name="saverity">
                    <option value="" selected disabled></option>
                    <option value="Severity">Severity</option>
                    <option value="Critical">Critical</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
                <td class="remark">
                  <select id="type" name="saverity">
                    <option value="" selected disabled></option>
                    <option value="Red">Red :Blood</option>
                    <option value="Rust">Rust: Pneumonia</option>
                    <option value="Purple">Purple: Neoplasm</option>
                    <option value="Yellow">Yellow: Infected</option>
                    <option value="Green">Green: Pus</option>
                    <option value="Pink">Pink: Pulmonary Oedema</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Wheeze</td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
                <td class="remark">
                  <select id="saverity" name="saverity">
                    <option value="" selected disabled></option>
                    <option value="Severity">Severity</option>
                    <option value="Critical">Critical</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>ChestPain</td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
                <td class="remark">
                  <select id="saverity" name="saverity">
                    <option value="" selected disabled></option>
                    <option value="Severity">Severity</option>
                    <option value="Critical">Critical</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
                <td class="remark">
                  <input
                    type="text"
                    placeholder=""
                    class="remark-input"
                  />
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <button class="next-btn">
          Continue
          <img src="./r-arrow.png" alt="">
        </button>
      </div>
     
    </div>
    
  </div>
</body>
</html>





