<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="landing-page.css" />
</head>

<body>

  <div class="nav-back">
    <button class="back-button">
      <div class="back">
        <img src="./images/back.png" alt="Back" />
      </div>
      <div class="text">Go Back</div>
    </button>
    <nav class="navbar">
      <ul class="nav-links">

        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <div class="nav-bar-menu">

          <li class="nav-bar-services"><a href="/">ACTIONS</a>
            <ul class="dropdown">
              <li><a href="/">CREATE RECORD </a></li>
              <li><a href="/">UPDATE RECORD</a></li>
            </ul>
          </li>
          <li class="nav-bar-services"><a href="/">BILLINGS</a>
            <ul class="dropdown">
              <li><a href="/">IN-PATIENT BILLINGS</a></li>
              <li><a href="/">OUT-PATIENT BILLINGS</a></li>
            </ul>
          </li>

          <li><a href="/">RECORDS</a></li>
        </div>
      </ul>
    </nav>
  </div>

</body>

</html>