/* Add your desired styling */
.in-patient-bill-container {
    max-width: 900px;;
    margin: 0 auto;
    padding: 5%;
}

h2 {
    text-align: center;
    color: #333;
}

.patient-details,
.in-patient-info,
.billing-info {
    font-size: calc(0.5rem + 0.3vw);

    margin-bottom: 5%;
}

.billing-info {
    display: flex;
    justify-content: space-between;
    font-size: calc(0.5rem + 0.3vw);

}

.billing-info select {
    width:100%;
    min-width: 100px;
    padding: 8px;
    box-sizing: border-box;
    font-size: calc(0.5rem + 0.3vw);

    margin-top: 4px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: calc(0.5rem + 0.3vw);

}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.app-message {
    margin-top: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* BillDetails.css */

.bill-details-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.out-patient-bill,
.in-patient-bill {
    width: 45%;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.out-patient-bill h3,
.in-patient-bill h3 {
    text-align: center;
}

.out-patient-bill div,
.in-patient-bill div {
    margin-top: 10px;
}

/* Style additional fields as needed */
.bill-card{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}