@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.adminmenu-contents-root * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5vw;
  transition: 0.5s ease;
  margin-top:2vh;
  padding-right:5vw;
}

header .brand {
  /* color: #ffffff; */
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .brand:hover {
  color: #000000;
}

header .navigation {
  position: relative;

}

.navigation-items {
  display: flex;
  margin-right: -5vw;
  align-items: center;
}

header .navigation .navigation-items .nav-link {
  position: relative;
  color: #000000;
  font-size: calc(0.7rem + 0.5vw);
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items .nav-link:before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items .nav-link:hover:before {
  width: 100%;
  background-color: #fff;
}

.adminmenu-contents-root section {
  padding: 100px 150px;
}

.adminmenu-contents-root .home {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.adminmenu-contents-root .home:before {
  z-index: 0;
  content: '';
  position: absolute;
  background: rgb(201, 201, 201);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.adminmenu-contents-root .home .content {
  z-index: 4;
  width: 70%;

  display: none;
}

.adminmenu-contents-root .home .content.active {
  display: block;
}

.adminmenu-contents-root .home .content h1 {
  color: #fff;
  width: fit-content;
  font-size: 4em;
  font-weight: 600;
  /* text-transform: uppercase; */
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 5px;
  background-color: transparent;
  overflow: hidden;
}


.content.active h1 span {
  animation: anime 1.5s ease-in-out;
}

.adminmenu-contents-root .content p {
  color: #ffffff;
  line-height: 75px;
  width: fit-content;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  overflow: hidden;
}

.adminmenu-contents-root .content.active p span {

  animation: para-ani 1.5s ease-in-out;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}

.adminmenu-contents-root .content>.Read-more {
  display: none;
  animation: slideInRight 1.5s forwards;
}

.adminmenu-contents-root .content.active>.Read-more {
  display: block;
}

@keyframes anime {
  from {
    display: inline-block;
    transform: translateX(-200%);
  }

  to {

    display: inline-block;
    transform: translateX(0%);
  }
}

@keyframes para-ani {
  from {
    display: inline-block;
    transform: translateX(200%);
  }

  to {

    display: inline-block;
    transform: translateX(0%);
  }
}

.adminmenu-contents-root .home .content p {
  margin-bottom: 20px;
}

.adminmenu-contents-root .home .content a {
  max-width: fit-content;
  background-color: #4dcfff;
  padding: 15px 35px;
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.5s;
}

.adminmenu-contents-root .home .content a:hover {
  background: #2f8cff;
  color: #fff;
}

.adminmenu-contents-root .home .media-icons {
  z-index: 5;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.adminmenu-contents-root .home .media-icons a {
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.adminmenu-contents-root .home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.adminmenu-contents-root .home .media-icons a:hover {
  transform: scale(1.3);
  color: #000;
}

.adminmenu-contents-root .home img {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

.adminmenu-contents-root .curve {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  clip-path: circle(50% at 8% 53%);
  background-color: #dbfaff;
  z-index: 3;
  opacity: 90%;
}

.adminmenu-contents-root .slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.adminmenu-contents-root .slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.adminmenu-contents-root .slider-navigation .nav-btn.active {
  background: #000;
}

.adminmenu-contents-root .slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.adminmenu-contents-root .slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}


.adminmenu-contents-root .home .img-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  /* Initial clip path */
  transition: clip-path 3s ease;
  /* Transition for clip path */
}

.adminmenu-contents-root .slide0 {
  clip-path: circle(0% at 0% 50%);
  transition-delay: 4s;
}

.adminmenu-contents-root .slide1 {
  clip-path: circle(0% at 100% 50%);
  transition-delay: 4s;

}

.adminmenu-contents-root .slide2 {
  clip-path: circle(0% at 0% 50%);
  transition-delay: 4s;
}

.adminmenu-contents-root .slide3 {
  clip-path: circle(0% at 100% 50%);
  transition-delay: 4s;
}

.adminmenu-contents-root .slide4 {
  clip-path: circle(0% at 0% 50%);
  transition-delay: 4s;
}


.adminmenu-contents-root .slide0.active {
  clip-path: circle(150% at 0% 50%);

}

.adminmenu-contents-root .slide1.active {
  clip-path: circle(150% at 100% 50%);
  /* Revealing from top right */
}

.adminmenu-contents-root .slide2.active {
  clip-path: circle(150% at 0% 50%);
  /* Revealing from bottom left */
}

.adminmenu-contents-root .slide3.active {
  clip-path: circle(150% at 100% 50%);
  /* Revealing from bottom right */
}

.adminmenu-contents-root .slide4.active {
  clip-path: circle(150% at 0% 50%);
  /* Revealing from center */
}


@media (max-width: 1040px) {
  .adminmenu-contents-root header {
    padding: 12px 20px;
  }

  .adminmenu-contents-root section {
    padding: 100px 20px;
  }

  .adminmenu-contents-root .home .media-icons {
    right: 15px;
  }

  .adminmenu-contents-root header .navigation {
    display: none;
  }

  .adminmenu-contents-root header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  .adminmenu-contents-root header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  .adminmenu-contents-root header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  .adminmenu-contents-root header .navigation .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .adminmenu-contents-root .menu-btn {
    background-image: url('../landing-page-imgs/menu.png');
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .adminmenu-contents-root .menu-btn.active {
    z-index: 999;
    background-image: url('../landing-page-imgs/close.png');
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}

@media (max-width: 560px) {
  .adminmenu-contents-root .home .content h1 {
    font-size: 3em;
    line-height: 60px;
  }
}




.navigation {
  position: relative;

}

.navigation .dropdown-content {

  margin-top: 3%;
  display: none;
  position: absolute;
  top: 100%;
  width: fit-content;
  z-index: 10099;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navigation .dropdown-content.active {
  width: fit-content;
  display: block;
}

.navigation .dropdown-content a {
  text-wrap: nowrap;
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;

}

.navigation .dropdown-content a:hover {
  background-color: #fff;
  color: white;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-overlay.visible {
  opacity: 1;
  /* Opacity when visible */
}


/* .spinner {
    position: relative;
    width: 12vw;

    height: 12vw;
    animation: spin 1s linear infinite;
  }
  
  #loading-brand-title {
    width: 20vw;
    height: 7vw;
    margin-top: 2vh;
  }
  
  #loading-brand-logo {
    position: absolute;
    width: 12vw;
    height: 12vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
  
    100% {
        transform: rotate(360deg);
    }
  } */

.adminmenu-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: none;
}

.adminmenu-wrapper .adminmenu-box-wrap {
  width: 70%;
  height: 70%;
  margin: calc((100% - 70%) / 2) calc((100% - 70%) / 2);
  position: relative;
  transform: rotate(-45deg);
}

.adminmenu-wrapper .adminmenu-box-wrap .adminmenu-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(135, 0, 0, 0.6);
  background: linear-gradient(to right,
      #141562,
      #486fbc,
      #eab5a1,
      #8dd6ff,
      #4973c9,
      #d07ca7,
      #f4915e,
      #f5919e,
      #b46f89,
      #141562,
      #486fbc);
  background-position: 0% 50%;
  background-size: 1000% 1000%;
  visibility: hidden;
}

.adminmenu-wrapper .adminmenu-box-wrap .adminmenu-box.one {
  animation: moveGradient 15s infinite, oneMove 3.5s infinite;
}

.adminmenu-wrapper .adminmenu-box-wrap .adminmenu-box.two {
  animation: moveGradient 15s infinite, twoMove 3.5s 0.15s infinite;
}

.adminmenu-wrapper .adminmenu-box-wrap .adminmenu-box.three {
  animation: moveGradient 15s infinite, threeMove 3.5s 0.3s infinite;
}

.adminmenu-wrapper .adminmenu-box-wrap .adminmenu-box.four {
  animation: moveGradient 15s infinite, fourMove 3.5s 0.575s infinite;
}

.adminmenu-wrapper .adminmenu-box-wrap .adminmenu-box.five {
  animation: moveGradient 15s infinite, fiveMove 3.5s 0.725s infinite;
}

.adminmenu-wrapper .adminmenu-box-wrap .adminmenu-box.six {
  animation: moveGradient 15s infinite, sixMove 3.5s 0.875s infinite;
}

@keyframes moveGradient {
  to {
    background-position: 100% 50%;
  }
}

@keyframes oneMove {
  0% {
    visibility: visible;
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  14.2857% {
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  28.5714% {
    clip-path: inset(35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  42.8571% {
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  57.1428% {
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  71.4285% {
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  85.7142% {
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  100% {
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@keyframes twoMove {
  0% {
    visibility: visible;
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  14.2857% {
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  28.5714% {
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  42.8571% {
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  57.1428% {
    clip-path: inset(35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  71.4285% {
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  85.7142% {
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  100% {
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@keyframes threeMove {
  0% {
    visibility: visible;
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  14.2857% {
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  28.5714% {
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  42.8571% {
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  57.1428% {
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  71.4285% {
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  85.7142% {
    clip-path: inset(35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  100% {
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@keyframes fourMove {
  0% {
    visibility: visible;
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  14.2857% {
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  28.5714% {
    clip-path: inset(35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  42.8571% {
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  57.1428% {
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  71.4285% {
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  85.7142% {
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  100% {
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@keyframes fiveMove {
  0% {
    visibility: visible;
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  14.2857% {
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  28.5714% {
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  42.8571% {
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  57.1428% {
    clip-path: inset(35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  71.4285% {
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  85.7142% {
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  100% {
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@keyframes sixMove {
  0% {
    visibility: visible;
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  14.2857% {
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  28.5714% {
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  42.8571% {
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  57.1428% {
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  71.4285% {
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  85.7142% {
    clip-path: inset(35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  100% {
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

.adminmenu-load-wrapp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 20px 20px 20px;
  border-radius: 5px;
}

.adminmenu-load-wrapp:last-child {
  margin-right: 0;
}

.adminmenu-letter-holder {
  font-family: "Poppins", sans-serif;
  padding: 16px;
  font-size: 1px;
}

.letter {
  float: left;
  font-size: 10px;
  color: #777;
}

.adminmenu-load-6 .letter {
  background-image: linear-gradient(to right, #2c67f2, #62cff4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  padding: 10px;
  position: relative;
  margin-top: 35vh;
  font-size: 30px;
  animation-name: loadingF;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

.l-1 {
  animation-delay: 0.48s;
}

.l-2 {
  animation-delay: 0.6s;
}

.l-3 {
  animation-delay: 0.72s;
}

.l-4 {
  animation-delay: 0.84s;
}

.l-5 {
  animation-delay: 0.96s;
}

.l-6 {
  animation-delay: 1.08s;
}

.l-7 {
  animation-delay: 1.2s;
}

@keyframes loadingF {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.logout-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.confirmation-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.confirm-button,
.cancel-button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-button {
  background-color: #007bff;
  color: white;
}

.cancel-button {
  background-color: #ccc;
  color: black;
}.power-button input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.power-button {
  display: flex;
  cursor: pointer;
  align-items:center;
  font-size: 20px;
  user-select: none;
}

.checkmark-pwr-btn {
  position: relative;
  height: 35px;
  width: 35px;
  margin-right: 3vw;
  border-radius: 10em;
  background-color: #4cf3ff;

  transition: 0.3s;
  box-shadow: 3px 3px 5px #00000061, 0px 0px 0px #3c3c3c4a;
}

.checkmark-pwr-btn img {
  width: 35px;
  height: 35px;

  transition: 0.2s;
}

.checkmark-pwr-btn:active {
  
  box-shadow: 2px 2px 3px #0000002c, 0px 0px 0px #ffffff;
}

.power-button input:checked ~ .checkmark-pwr-btn {
  background-color: #6a6a6a; /* Default background color */
  box-shadow: 2px 2px 3px #0000002c, 2px 2px 2px #ffffff;
  /* Change to the color you want */
}