@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}
.user-login-signup-container{
  background-color: transparent;
  top:20vh;
  position: absolute;
  left: 25vw;
}
.user-login-signup-container h1 {
  margin: 0;
}

.user-login-signup-container h2 {
  text-align: center;
}

.user-login-signup-container p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.user-login-signup-container span {
  font-size: 12px;
}

.user-login-signup-container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.user-login-signup-container button { 
    margin-top: 2vh; 
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgb(83, 190, 232);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 2s ease-in;
  cursor: pointer;
  position: relative;
}

.user-login-signup-container button:active {
  transform: scale(0.95);
}

.user-login-signup-container button:focus {
  outline: none;
}

.user-login-signup-container .ghost {
  background-color: white;
  color: rgb(83, 190, 232);
  position: relative;
}

.user-login-signup-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.user-login-signup-container input {
  position: relative;
  background-color: none;
  border: none;
  margin: 17px 0;
  width: 100%;
}

.container {
  border-radius: 10px;
  border: 1px solid rgb(201, 201, 201);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.893);
  backdrop-filter: blur(20px); /* Adjust the blur radius as needed */
}


.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.right-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .right-container {
  transform: translateX(-100%);
}

.right-container-content {
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgb(77, 234, 255) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .right-container-content {
  transform: translateX(50%);
}

.right-container-content-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.right-container-content-right {
  right: 0;
  transform: translateX(0);
}
.right-container-content-right {
  font-size:48px;
}
.container.right-panel-active .right-container-content-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.form h1{
  position: absolute;
  color:rgb(0, 27, 75);
  top:5vh;
  font-size: 48px;
  font-weight: 100;

}

.form h1::before {
  content: "";
  position: absolute;
  margin-top:26%;
  margin-left:15%;

  width: 50%;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(76, 216, 255, 0.345);
  z-index: -1;

}
.form button{
  bottom:5vh;
  position: absolute;
  color:rgb(0, 27, 75);
}
.form-control {
  position: relative;
  margin: 2% 0% 3% 0%;
}

.form-control .input-field {
  height: 2rem;
  background-color: transparent;
  border-bottom: 2px solid black;
  outline: none;
}

/* Add transition delay to label spans */
.form-control label span {
  font-weight: 700;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 5px;
  min-width: 5px;
  color: rgb(0, 27, 75);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0ms; /* Initial delay */
}

/* Adjust the position of the label */
.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

/* Adjust the color and position of the label span when input is focused or has value */
.form-control input:focus + label span,
.form-control input:valid + label span {
  color: black;
  font-weight: 100;
  letter-spacing: 0px;

  transform: translateY(-20px);
  font-size: smaller;
}
.bvambient_particle
{
  height:100vh;
  width: 80vw;
  left: 20vw;
	position: absolute;
	pointer-events: none;
	transition: top linear, left linear;

}