body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/***Assessment Tool*****/
.new-record-main-container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #087ccf;
}

.container {
    max-width: 100%;
    background: #fff;
    border-radius: 5px;
}

.container .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
}

.container form .user-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    margin-bottom: 15px;
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #087ccf;
}

.user-details .address .details {
    display: block;
    font-weight: 500;
    margin-bottom: 3px;
    margin-top: 10px;
    color: #087ccf;
}

.user-details .input-box input {
    height: 30px;
    width: 25%;
    min-width: 200px;
    max-width: 300px;
    outline: none;
    border-radius: 15px;
    border: 2px solid #087ccf;
    padding-left: 15px;
    font-size: calc(0.5rem + 0.4vw);
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

.user-details .input-box select {
    height: 30px;
    width: 25%;
    min-width: 150px;
    outline: none;
    border-radius: 15px;
    border: 2px solid #087ccf;
    max-width: 300px;
    padding-left: 15px;
    font-size: calc(0.5rem + 0.4vw);
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

.user-details .address input {
    height: 30px;
    width: 25%;
    min-width: 200px;
    outline: none;
    margin-top: 10px;
    border-radius: 15px;
    border: 2px solid #087ccf;
    max-width: 300px;

    padding-left: 15px;
    font-size: calc(0.5rem + 0.4vw);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #087ccf;
}



.profile #img {
    color: #087ccf;
    margin-bottom: 0px;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 500;
}

.profile input {
    color: #087ccf;

}

.photo {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: calc(0.5rem + 0.6vw);
    width: 100%;
}

.profileImage {
    padding: 5px 10px;
    background: #087ccf;
    border: 1px solid #087ccf;
    position: relative;
    color: #f3f3f4;
    border-radius: 7px;
    text-align: center;
    float: left;
    cursor: pointer
}

/****Pain Assessment Scale****/


.assessment {
    max-width: 100%;
    background: #fff;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;

}

.assessment .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
}

.assessment h3 {
    color: #087ccf;
    font-size: calc(0.5rem + 0.7vw);
    font-weight: 300;
}

.range-value-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.scale {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    width: 100%;
}

.scale-value {
    position: relative;
    align-items: center;
    display: flex;
    width: 4%;
    height: 150px;
    flex-direction: column;


}

.range-of-motion-table input {
    width: 5vw;
    padding: 2px;
    max-width: 40px;
    margin: 0;

}

.range-of-motion-table table {
    display: flex;
    flex-wrap: wrap;
}

.muscle-power-table input {
    width: 4vw;
    padding: 2px;
    max-width: 40px;
    margin: 0;
}

.range-of-motion-table input[type="number"]::-webkit-inner-spin-button,
.range-of-motion-table input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.muscle-power-table input[type="number"]::-webkit-inner-spin-button,
.muscle-power-table input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.scale-value::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -30px;
    /* Adjust the distance from the scale */
    left: 50%;
    transform: translateX(-50%);
}


.scale-value::before {
    content: "";
    width: 30px;
    /* Adjust the image size */
    height: 30px;
    /* Adjust the image size */
    background-size: cover;
    position: absolute;
    bottom: -40px;
    /* Adjust the distance from the scale */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    /* Initially hide the image */
}

.scale-value img {
    width: 5vw;
    /* Adjust the image size as needed */
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    background: linear-gradient(to right, green, yellow, orange, red);
    height: 5px;
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 2;
}


/***Pain Region***/
.registration-container {
    max-width: 100%;
    background: #fff;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;

}

.painregion {
    max-width: 100%;
    background: #fff;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;

}

.post-medical-history {
    max-width: 100%;
    background: #fff;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;

}

.painregion .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
    margin-bottom: 20px;
}

.post-medical-history .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
    margin-bottom: 20px;
}

.checkbox-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkbox-group,
.checkbox-group-two,
.checkbox-group-three {
    display: flex;
    align-items: center;
    /* Adjust margin if necessary */
    margin: 0;
}

.box {
    /* Adjust styles as needed */
    margin-left: 35px;
    margin-top: -25px;
    margin-right: 25px;
}

/***History**/

.container-history {
    max-width: 100%;
    background: #fff;
    border-radius: 5px;
}

.container-history form .form-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



form .form-details .form-box input {
    height: 30px;
    width: 100%;
    outline: none;
    margin-top: 10px;
    border-radius: 15px;
    border: 2px solid #087ccf;
    padding-left: 15px;
    font-size: calc(0.5rem + 0.4vw);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

.form-details .form-box .requirements {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #087ccf;
}



.form-details .form-box input:focus,
.form-details .form-box input:valid {
    border-color: #087ccf;
}

.form-details .form-box select {
    height: 30px;
    width: 100%;
    outline: none;
    margin-top: 10px;
    border-radius: 15px;
    border: 2px solid #087ccf;
    padding-left: 15px;
    font-size: calc(0.5rem + 0.4vw);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

/***Vital Sign****/

.container-vitalsign {
    max-width: 100%;
    background: #fff;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;

}

.container-vitalsign .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
}

.container-vitalsign .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
}

.container-vitalsign form .user-data {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-data .input-value {
    margin-bottom: 15px;
}

.user-data .input-value .data {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #087ccf;
}

.user-data .input-value input {
    height: 30px;
    min-width: 50px;
    max-width: 150px;
    outline: none;
    border-radius: 15px;
    border: 2px solid #087ccf;
    padding-left: 15px;
    font-size: calc(0.5rem + 0.4vw);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin-bottom: 5px;

}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #087ccf;
}

/**On Obseravation**/

.observation-palpation-container {

    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;

    justify-content: space-between;


}


.observation-palpation-container .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
}

.column-one,
.column-two {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.box-value {
    display: flex;
    font-size: calc(0.5rem + 0.3vw);

    align-items: center;

}



/* Optional: Add some styling for better visual appeal */
input[type="checkbox"] {
    appearance: none;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
}

.checkBox {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.checkBox input {
    margin-top: 13px;
}

/*on examination:*/
.on-examination-container {

    align-items: center;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    margin-top: 2%;
    padding: 5%;
    justify-content: space-between;
}

.on-examination-container .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
}

.coordination-container {

    align-items: center;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    display: flex;
    padding: 5%;
    justify-content: space-between;
}

.coordination-container .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
}

.balance-container {

    align-items: center;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;

    justify-content: space-between;
}

.balance-container .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
}

.subjective-assessment-container {

    align-items: center;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;
    font-size: calc(0.5rem + 0.3vw);

    justify-content: space-between;
}

.subjective-assessment-container select {
    width: 8vw;

    font-size: calc(0.5rem + 0.3vw);
    display: flex;
    flex-wrap: wrap;

}

.subjective-assessment-container input {
    width: 6vw;
    font-size: calc(0.5rem + 0.3vw);
    display: flex;
    flex-wrap: wrap;


}

.subjective-assessment-container .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
}

.rpe-table-container {

    align-items: center;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;

    justify-content: space-between;
}

.rpe-table-container .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
}

.objective-assessment-container {

    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;

    align-items: center;

}

.objective-assessment-container .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
}

.chest-shapes-img {
    margin-top: 10%;
    width: 100%;
    height: 100%;

}

.lobe-img {
    margin-top: 10%;
    width: 100%;
    height: 100%;

}

.barthel-index-container {

    align-items: center;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;

    justify-content: space-between;
}

.barthel-index-container .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
}

.barthel-index-table select {
    width: 40px;
    font-size: calc(0.5rem + 0.3vw);

}

.hand-function-container {
    display: flex;
    justify-content: space-between;
}


.physical-exam-container {
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5%;
}

caption {
    font-size: calc(0.5rem + 1vw);
    font-weight: bold;
    margin-bottom: 10px;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 4px;
}

th {
    background-color: #f2f2f2;
}

/* Optional: Add some styling for better visual appeal */
table {
    border: 2px solid #4CAF50;
}

th,
td {

    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

.plan-of-treatment-container {
    align-items: center;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;

    justify-content: space-between;
}

.plan-of-treatment-container .title {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 500;
    position: relative;
    color: #000000;
}

.plan-of-treatment-container input {
    width: 100%;
    height: 30px;
    border-radius: 0.5vw;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    padding-left: 30px;
    max-width: 1000px;
}

.submit-button-container {
    display: flex;
    align-items: center;
    border-radius: 4%;
    box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
    width: 100%;
    padding: 5%;

    justify-content: center;
}

.submit-button-container button {
    background-color: #4CAF50;
    border-radius: 1vw;
    font-weight: bold;
    color: white;
    height: 30px;
    width: 90px;
    outline: none;
    border: none;
}

/* existing record style */

/* Add your global styles here */

.existing-record-form {
    max-width: 900px;
    margin: 0 auto;
    padding: 5%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: calc(0.5rem + 0.4vw);

}

h2 {
    font-size: calc(0.5rem + 0.8vw);
    margin-bottom: 20px;
}

.about-patient {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding: 2%;
    box-shadow: inset 2vw 2vw 2vw #ffffff, 1vw 1vw 1.7vw rgba(0, 0, 0, 0.16);

}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: calc(0.5rem + 0.3vw);

}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: calc(0.5rem +0.3vw);
    width: 50%;

}

button:hover {
    background-color: #45a049;
    font-size: calc(0.5rem + 0.4vw);

}

.input-container {
    display: flex;
    justify-content: space-between;

    /* Ensures the container only takes as much width as necessary */
}

.existing-record-form .input-container input {
    height: 30px;
    margin-top: 0;
    max-width: 400px;
    /* Ensures the container only takes as much width as necessary */
}

#mobileNumber+button {}

.input-container button {
    height: 30px;
    width: 30%;
    /* Ensures the container only takes as much width as necessary */
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}

.patient-details {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    text-align: left;
    font-size: calc(0.5rem + 0.3vw);
}

th {
    background-color: #4caf82;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #deffef;
    /* Background color for even rows */
}

tr:nth-child(odd) {
    background-color: transparent;
    /* Transparent background for odd rows */
}

tr:hover {
    background-color: #aff9d6;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: calc(0.5rem + 0.3vw);

}

button:hover {
    background-color: #45a049;
}

@media (max-width:1000px) {
    .hand-function-container {
        display: flex;
        flex-direction: column;
    }

    .coordination-container {

        align-items: center;
        border-radius: 4%;
        box-shadow: 0 0 0.5vw rgba(147, 230, 255, 0.68);
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.crete-icon {
    height: 15vw;
    width: 15vw;
}

.menu-options {
    display: flex;
    justify-content: space-between;
}

.home-contents {
    padding: 5%;
}

.menu-option p {
    font-size: calc(0.7rem + 0.4vw);
    text-align: center;
    margin-bottom: 4%;

}
.menu-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18vw;
    box-shadow: inset 2vw 2vw 2vw #ffffff, 1vw 1vw 1.7vw rgba(0, 0, 0, 0.16);


}
.main-icon{
    height: 100px;
    width: 100px;
}