<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Record</title>
    <link rel="stylesheet" href="page1.css" />
  </head>
  <body>
    <div class="update-record-container">
      <header class="update-record-header">
        <div class="update-record-search-bar">
          <input required="" placeholder="Enter Mobile Number" type="tel" />
          <button class="update-record-invite-btn" type="button">Search</button>
        </div>
        <div class="update-record-patient-details">
          <h3 class="update-record-patient">Ramrajan</h3>
          <h3 class="update-record-patient">M</h3>

          <h3 class="update-record-patient">23</h3>
          
        </div>
      </header>

      <div class="update-record-checking-checkbox">
        <div class="update-record-checkbox-container">
          <div class="update-record-checkbox-group ">
            <h2 class="update-record-checkbox-title">Post Medical History</h2>
            
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="dm" class="update-record-inp-cbx" />
                <label for="dm" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;DM</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input
                  type="checkbox"
                  id="
                    htn"
                  class="update-record-inp-cbx"
                />
                <label
                  for="
                    htn"
                  class="update-record-cbx"
                >
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;HTN</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input
                  type="checkbox"
                  id="
                    cad"
                  class="update-record-inp-cbx"
                />
                <label
                  for="
                    cad"
                  class="update-record-cbx"
                >
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;CAD</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="cvd" class="update-record-inp-cbx" />
                <label for="cvd" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;CVD</span>
                </label>
              </div>

              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="asthma" class="update-record-inp-cbx" />
                <label
                  for="asthma"
                  class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Asthma</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="smoking" class="update-record-inp-cbx" />
                <label for="smoking" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Smoking</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="alcohol" class="update-record-inp-cbx" />
                <label for="alcohol" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Alcohol</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="surgicalHistory" class="update-record-inp-cbx" />
                <label for="surgicalHistory" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Surgical History</span>
                </label>
              </div>
           
          </div>
          <div class="update-record-checkbox-group update-record-vital-sign">
            <h2 class="update-record-checkbox-title">Vital Sign</h2>
            <div class="update-record-col">
              <div class="update-record-form-group">
                <span>BP</span>
                <input class="update-record-form-field" type="text" placeholder="Enter your BP">
              </div>
              <div class="update-record-form-group">
                <span>RR
                </span>
                <input class="update-record-form-field" type="text" placeholder="Enter your RR">
              </div>
              <div class="update-record-form-group">
                <span>HR</span>
                <input class="update-record-form-field" type="text" placeholder="Enter your HR">
              </div>
              <div class="update-record-form-group">
                <span>SPO2</span>
                <input class="update-record-form-field" type="text" placeholder="Enter your SPO2">
              </div>
              <div class="update-record-form-group">
                <span>TEMP</span>
                <input class="update-record-form-field" type="text" placeholder="Enter your TEMP">
              </div>
            </div>
          </div>
          <div class="update-record-checkbox-group update-record-pain-region">
            <h2 class="update-record-checkbox-title">Pain Region</h2>
            <div class="update-record-row update-record-pain-region-content">
              <div class="update-record-col">
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="Neck" class="update-record-inp-cbx" />
                <label for="Neck" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Neck</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input
                  type="checkbox"
                  id="
                  Wrist"
                  class="update-record-inp-cbx"
                />
                <label
                  for="
                  Wrist"
                  class="update-record-cbx"
                >
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Wrist</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input
                  type="checkbox"
                  id="
                  LowerBack"
                  class="update-record-inp-cbx"
                />
                <label
                  for="
                  LowerBack"
                  class="update-record-cbx"
                >
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;LowerBack</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="Ankle" class="update-record-inp-cbx" />
                <label for="Ankle" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Ankle</span>
                </label>
              </div>
             
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="Shoulder" class="update-record-inp-cbx" />
                <label
                  for="Shoulder"
                  class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Shoulder</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="Fingers" class="update-record-inp-cbx" />
                <label for="Fingers" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Fingers</span>
                </label>
              </div>
            </div>
              <div class="update-record-col">
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="Hip" class="update-record-inp-cbx" />
                <label for="Hip" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Hip</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="Toes" class="update-record-inp-cbx" />
                <label for="Toes" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Toes</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="Elbow" class="update-record-inp-cbx" />
                <label for="Elbow" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Elbow</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="UpperBack" class="update-record-inp-cbx" />
                <label for="UpperBack" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;UpperBack</span>
                </label>
              </div>
              <div class="update-record-checkbox-wrapper-46">
                <input type="checkbox" id="Knee" class="update-record-inp-cbx" />
                <label for="Knee" class="update-record-cbx">
                  <span>
                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                  </span>
                 
                  <span>&nbsp;Knee</span>
                </label>
              </div>
            </div>
            <div class="update-record-col">
              <div class="update-record-form-group-factors">
                <span>Aggrivating Factor</span>

                <input class="update-record-form-field" type="text" placeholder="987654321">
              </div>

              <div class="update-record-form-group-factors">
                <span>Relieving Factor              </span>


                <input class="update-record-form-field" type="text" placeholder="987654321">
              </div>
              <div class="update-record-form-group-factors">
                <span>Duration</span>

                <input class="update-record-form-field" type="text" placeholder="987654321">
              </div>
              <div class="update-record-form-group-factors">
                <span>Onset</span>

                <input class="update-record-form-field" type="text" placeholder="987654321">
              </div>
            </div>
            </div>
            
          </div>
          <div class="update-record-checkbox-group update-record-pain-level">
            <h2 class="update-record-checkbox-title">level</h2>
            <div class="thermometer-meter">
              <div class="level" id="level1">1</div>
              <div class="level" id="level2">2</div>
              <div class="level" id="level3">3</div>
              <div class="level" id="level4">4</div>
              <div class="level" id="level5">5</div>
            </div>           
            </div>
          </div>
          
          
          
        </div>
      </div>
      <button class="update-record-next-btn">
        Continue
        <img src="./r-arrow.png" alt="">
      </button>
    </div>
  </body>
</html>
