/* landing-page-original.css */

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  padding: 0 20px;
}

/* Left Container */
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  padding-right: 20px;
}

/* Right Container */
.right-container {
  flex: 1;
  align-items: center;
    display: flex;
}

/* Big Title */
.big-title h1 {
  margin-left: 7vw;

  font-size: 3rem;
  margin-top: 20vh;
}

/* Section Features */
.section-features {

  margin-left: 5vw;
    margin-top: 2vh;
}

/* Row Icons */
.row-icons {
  justify-content: space-evenly;

  display: flex;
  flex-wrap: wrap;
}

/* Column */
.col-md-4 {
  flex-direction: column;
    display: flex;
    align-items: center;
  flex: 0 0 33.333%;
  max-width: 33.333%;
  margin-bottom: 20px;
}

/* Icon */
.icon-p {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Bottom Area */
.bottom-area {
  background-color: #f0f0f0;
  padding: 20px 0;
}

/* Toggle Button */
.toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.right-container img{
  height: 85vh;
  width: 100%;
}
/* Shape */
.shape {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .left-container,
  .right-container {
    
    flex: 1;
  }
  .big-title h1 {
    font-size: 2rem;
  }
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
