.icon {
  position: relative;
  background: #fff;


  width: 30px;
  height: 30px;
  font-size: 18px;
  list-style: none;
  cursor: pointer;

}

.tooltip {
  text-wrap: nowrap;
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;

  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon:hover span,
.icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.billings:hover .tooltip,
.billings:hover .tooltip::before {
  background: #1877F2;
  color: #fff;
}
.page-6-plan-invest-edit{
  display: flex;
  justify-content: space-between;
}
.controls:hover .tooltip,
.controls:hover .tooltip::before {
  background: #5eac24;
  color: #fff;
}
.plusIcon{
  transform: rotate(45deg);
}
.plusIcon:hover{
  transform: rotate(90deg);
}
.plusButton>.plusIcon {
  transform: rotate(45deg);
  fill: white;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.plusIcon:hover{
  transform: rotate(135deg);
}

.multiIcon {
  transform: rotate(0deg);
  
}
.multiIcon:hover{
  transform: rotate(90deg);
}
.page-7-add-discard-btn-class{
  display: flex;
  gap:15%;
}
.page-7-invest-add-discard-container{
  display: flex;
  justify-content: space-between;
}


.page-7-invest-add-discard-container .icons-flexer{
  display: flex;
  justify-content: space-between;
  gap:15%;
}
.view-add-flexer-page-7{
  display: flex;
  width: 100%;
  gap:15px;
}
.planed-treatment table .total-days-page7{
  max-width: 30px;
}