<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page3</title>
    <link rel="stylesheet" href="ur-page3.css" />
  </head>
  <body>
    <div class="ur-page3-container">
      <div class="ur-page3-left-container">
        <h2 class="ur-page3-left-container-title">Muscle Power</h2>
        <table>
          <thead>
            <tr>
              <th></th>
              <th colspan="2">MOTOR</th>
              <th colspan="2">SENSARY</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>RT</td>
              <td>LT</td>
              <td>RT</td>
              <td>LT</td>
            </tr>
            <tr>
              <td>C1-C2 – CERVICAL FLEXION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
            <tr>
              <td>C3 – CERVICAL SIDE FLEXION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
            <tr>
              <td>C4-SCAPULA ELEVATION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
            <tr>
              <td>C5-SHOULDER ABDUCTION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
            <tr>
              <td>C6-ELBOW FLEXION AND WRIST EXTENSION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
            <tr>
              <td>C7-ELBOW EXTENSION AND WRIST FLEXION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
            <tr>
              <td>C8-THUMB EXTENSION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
            <tr>
              <td>L1- L2 –HIP FLEXION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
            <tr>
              <td>L3 –KNEE EXTENSION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
            <tr>
              <td>L4 –ANKLE DORSIFLEXION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
            <tr>
              <td>L5 –BIG TOE EXTENSION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
            <tr>
              <td>S1 –ANKLE PLANTAR FLEXION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
            <tr>
              <td>S2 –KNEE FLEXION</td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
              <td>
                <input type="number" placeholder="0" class="custom-input" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="ur-page3-right-container">
        <div class="co-ordination-table">
          <h2 class="ur-page3-right-container-tb1-title">Co-Ordination</h2>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Normal</th>
                <th>Abnormal</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>FINGER TO NOSE</td>
                <td>
                  <input
                    type="radio"
                    id="sitting1"
                    name="sitting"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="sitting2"
                    name="sitting"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    placeholder="Enter remarks"
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>FINGER OPPOSITION</td>
                <td>
                  <input
                    type="radio"
                    id="standing1"
                    name="standing"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="standing2"
                    name="standing"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    placeholder="Enter remarks"
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>GRIP</td>
                <td>
                  <input
                    type="radio"
                    id="posture1"
                    name="posture"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="posture2"
                    name="posture"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    placeholder="Enter remarks"
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>PRONATION/SUPINATION</td>
                <td>
                  <input
                    type="radio"
                    id="gait1"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="gait2"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    placeholder="Enter remarks"
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>REBOUND TEST</td>
                <td>
                  <input
                    type="radio"
                    id="gait1"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="gait2"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    placeholder="Enter remarks"
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>TAPPING(HAND)</td>
                <td>
                  <input
                    type="radio"
                    id="gait1"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="gait2"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    placeholder="Enter remarks"
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>TAPPING(FOOT)</td>
                <td>
                  <input
                    type="radio"
                    id="gait1"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="gait2"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    placeholder="Enter remarks"
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>HEEL TO KNEE</td>
                <td>
                  <input
                    type="radio"
                    id="gait1"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="gait2"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    placeholder="Enter remarks"
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>DRAWING A CIRCLE (HAND)</td>
                <td>
                  <input
                    type="radio"
                    id="gait1"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="gait2"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    placeholder="Enter remarks"
                    class="remark-input"
                  />
                </td>
              </tr>
              <tr>
                <td>DRAWING A CIRCLE (FOOT)</td>
                <td>
                  <input
                    type="radio"
                    id="gait1"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    id="gait2"
                    name="gait"
                    class="ur-page2-inp-cbx"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    placeholder="Enter remarks"
                    class="remark-input"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="saw-table">
          <h2 class="ur-page3-right-container-tb2-title">
            Standing and Walking
          </h2>
          <table>
            <thead>
                <tr>
                  <th></th>
                  <th>Normal</th>
                  <th>Abnormal</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>STANDING: NORMAL POSTURE</td>
                  <td>
                    <input
                      type="radio"
                      id="sitting1"
                      name="sitting"
                      class="ur-page2-inp-cbx"
                    />
                  </td>
                  <td>
                    <input
                      type="radio"
                      id="sitting2"
                      name="sitting"
                      class="ur-page2-inp-cbx"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="Enter remarks"
                      class="remark-input"
                    />
                  </td>
                </tr>
                <tr>
                  <td>TANDON WALKING</td>
                  <td>
                    <input
                      type="radio"
                      id="standing1"
                      name="standing"
                      class="ur-page2-inp-cbx"
                    />
                  </td>
                  <td>
                    <input
                      type="radio"
                      id="standing2"
                      name="standing"
                      class="ur-page2-inp-cbx"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="Enter remarks"
                      class="remark-input"
                    />
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <button class="ur-page3-next-btn">
        Continue
        <img src="./r-arrow.png" alt="" />
      </button>
  </body>
</html>
